<div class="containter">
  <footer class="footer">
    <small>
      Copyright &copy; Marta Trojanowska
      <a href="https://www.google.com">GOOGLE</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", "#" %></li>
      </ul>
    </nav>
  </footer>
</div>
